<template name="details">
	<div class="repas-detail-main">
		<div class="repas-detail gauche">
			<h1 class="nom"><strong>Nom du Plat:</strong> {{nom}}</h1>
			<img class="detail-image" src="{{image}}" alt="{{image_alt}}">
		</div>
		<div class="repas-detail droit">
			<p class="portions"><strong>Ce repas est pour:</strong> {{portions}} personnnes</p>
			<p class="type"><strong>Ce repas est:</strong> {{type}}</p>
			<p class="description"><strong>Description de ce repas:</strong> {{description}}</p>
			<p class="adresse"><strong>Notre adresse c'est: </strong>{{adresse}}</p>
			<p class="est-veg"><strong>Ce repas est:</strong> {{estVeg}}</p>
			<p class="lieu"><strong>Ville/Code postal:</strong> {{lieu}}</p>
			<p class="cout"><strong>Prix:</strong> {{prix}}.-</p>
			<p class="temps"><strong>Ajouté: </strong>{{createdAt}}</p><!-- le temps de enregistrement -->
			<p class="utilisateur"><strong>Ajouté par:</strong> <a href="../user{{currentUser}}">{{vendeur}}</a></p><br>
			<h4>Commentaires:</h4>
			<div class="detail-com">
				{{> commentaires}}
			</div>
		</div>
		
	</div>
	
</template>
