
.repas-detail-main{
    padding-top: 30px;
    display: flex;
    width: 80vw;
    justify-content: space-around;
}
.gauche{
    width: 700px;
    background-color: rgb(208, 240, 229);
}
.droit{
    width: 500px;
    background-color: rgb(194, 182, 206)

}

.repas-detail > img{
    width: 600px;
}

.detail-com{
    width: 100%;
}

.commentaires-form{
    background-color: rgb(194, 182, 206) ;
    width: 100%;
    position: absolute;
    max-width: 500px;

}

.commentaires-form > textarea{
    width: 100%;
    padding-right: 70px;
}
.commentaire-submit{
    width: 70px;
    height: 40px;
    background-color: rgb(66, 211, 143);
    color: aliceblue;
    font-weight: 700;
    position: relative;
    left: 417px;
    top: -40px;
}

