
.repas-detail-main{
    padding-top: 30px;
    display: flex;
    width: 50vw;
    justify-content: space-around;
}
.gauche{
    width: 500px;
    background-color: rgb(208, 240, 229);
}
.droit{
    width: 500px;
    background-color: rgb(194, 182, 206)

}

.repas-detail > img{
    width: 500px;
}

.detail-com{
    width: 20%;
}