<template name="accueil">
	{{#if currentUser}}
		{{> accueilLoggedIn}}
	{{else}}
		{{> accueilNoLogIn}}
	{{/if}}
</template>

<template name="accueilLoggedIn">
	<h3 class="titre">Repas populaires</h3>
	<div class="repas-main ">
		{{#each repas}}
		<a href="details/{{_id}}">
			<div class="repas-block">
				<div class="">
					<img class="repas-image" src="{{image}}">
				</div>
				<div>
					<h4>{{nom}}</h4>
					<p>{{type}} - {{estVeg}}</p>
					<p>{{categorie}}</p>
					
					<p>{{formeTexte description 150}}</p>
					<!--<a href="{{pathFor 'repas'}}" class="btn btn-default">Commentaires</a>--> 
					<a href="details/{{_id}}" class="btn btn-primary combtn">Commentaire</a>
				</div>
			</div>
		</a>
		{{else}}
		<p>Pas de repas</p>
		{{/each}}
	</div>

</template>

<template name="accueilNoLogIn">
		<div><h1 class="text-center font-weight-bold text-decoration-none">
		<a href="sign-in" class="btn-secondary">Connectez-vous</a> ou 
		<a href="sign-up" class="btn-secondary">enregistrez-vous</a>, et partagez des repas avec le Monde entier!
		</h1></div>

</template>