<template name="repas">
	<div class="sort">
		<select name="order" id="classement" size="1">
			<option value="name">par nom</option>
			<option value="priceUp">par prix croissants</option>
			<option value="priceDown">par prix décroissants</option>
			<option value="star">par note</option>
			<option value="reviews">par recension</option>
		</select>
		<select name="Type" id="type">
			<option value="vegetarian">Vegetarien</option>
			<option value="vegan">Vegan</option>
		</select>
	</div>

	<h3>Repas</h3>
	{{#each repas}}
	<div class="row product-row">
		<div class="col-md-2">
			<img class="full" src="{{image}}">
		</div>
		<div class="col-md-10">
			<h4>{{name}}</h4>
			<p>Note: RATING</p>
			<p>{{truncateText description 150}}</p>
			<a href="details/{{_id}}" class="btn btn-default">Commentaires</a>
		</div>
	</div>
	{{else}}
	<p>Pas de repas</p>
	{{/each}}
</template>