<template name="user">
    <!--Page de profil-->
    <h3>{{username}} Test</h3>
    {{#each getUser}}
    <ul class="list-group">
        <li class="list-group-item">Nom d'utilisateur : {{currentUser.username}}</li>
        <li class="list-group-item">E-mail : {{userEmail}}</li>
    </ul>
    <input type="button" value="Editer" class="editbutton" id="editbutton">
    {{else}}
    Pas d'informations trouvées
    {{/each}}
    <!--Options d'édition de profil. Est caché lorsque la page est chargée.-->

</template>